@define-color   foreprimary             #1A1B26;
@define-color   foresecondary           #2B2C3A;
@define-color   foretertiary            #4B4C5A;
@define-color   forequaternary          #3F404C;
@define-color   forequinary             #6E6F7A;
@define-color   foresenary              #0B0C12;
@define-color   foreseptenary           #0B0B16;
@define-color   foreoctonary            #1D1E2D;
@define-color   forenonary              #24252F;
@define-color   foredecenary            #2A2B35;
@define-color   foreundenary            #333442;
@define-color   foreduodenary           #3C3D49;

@define-color   foreprimary             #9A7ECC;
@define-color   foresecondary           #B3A0E4;
@define-color   foretertiary            #7363B4;
@define-color   forequaternary          #6B5A9A;
@define-color   forequinary             #C2B2E6;
@define-color   foresenary              #4E3886;
@define-color   foreseptenary           #472F73;
@define-color   foreoctonary            #3A2B5D;
@define-color   forenonary              #2E2450;
@define-color   foredecenary            #241E3D;
@define-color   foreundenary            #1A162C;
@define-color   foreduodenary           #0E0E1F;

@define-color   foreprimary             #FFFFFF;
@define-color   foresecondary           #B3A0E4; 
@define-color   foretertiary            #8C6BB4;  
@define-color   forequaternary          #7363A6;  
@define-color   forequinary             #5E56A0;  
@define-color   foresenary              #4E3886;  
@define-color   foreseptenary           #472E75;  
@define-color   foreoctonary            #3B2566;  
@define-color   forenonary              #301D54; 
@define-color   foredecenary            #241C42;  
@define-color   foreundenary            #1A162F; 
@define-color   foreduodenary           #0E101E;  
